:root {
  --transition-duration: .25s;

  --background-color: #f7f8f8;
  --foreground-color: #000212;

  color-scheme: light;

  &.dark {
    --background-color: #000212;
    --foreground-color: #f7f8f8;
    
    color-scheme: dark;
  }
}
