@import '@/assets/style/normalize.css';
@import '@/assets/style/theme.scss';

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  color: var(--foreground-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);

  &::view-transition-old(root),
  &::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  &.dark::view-transition-old(root) {
    z-index: 1;
  }

  &.hide-scroll-bar {
    overflow-y: hidden;
    padding-right: var(--scroll-bar-width);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
