@import '@/assets/style/normalize.css';
@import '@/assets/style/theme.scss';

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  color: var(--text-color);
  background-color: var(--bg-color);

  &::view-transition-old(root),
  &::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  &.dark::view-transition-old(root) {
    z-index: 1;
  }
}
